<?php include 'public/views/groupHeader.html'; ?>

<div class="tab-panel active">
    <h2>Listy Zakupów</h2>
    <div class="p-4 bg-gray-100 rounded-lg">Tutaj będą Twoje listy...</div>

    <div class="column-action-button-wrapper desktop-only">
        <button class="action-button primary">+ Dodaj Listę</button>
    </div>
</div>

</main>
</div>

<div class="bottom-actions mobile-only">
    <div class="action-buttons-wrapper">
        <button class="action-button primary">+ Dodaj Listę</button>
    </div>
</div>
</div>
</body>
</html>